<div class="panel">
  <div class="header">
    Login
  </div>

  <%= form_tag sessions_path do %>
    <div class="main-content">
      <div class="form">
        <%= label_tag :username %>&nbsp;
        <%= text_field_tag :username, params[:username] %><br/>

        <%= label_tag :password %>&nbsp;
        <%= password_field_tag :password %><br/>
      </div>
    </div>
    <div class="footer"><%= submit_tag "Log in" %></div>
  <% end %>
</div>