<div  class="table_list">
  <table width="100%">
    <caption>Order</caption>
    <thead>
      <th>Banyaknya</th>
      <th>Nama Barang</th>
      <th>Harga</th>
      <th>Jumlah Harga</th>
      <th>Keterangan</th>
      <% unless links == 'off' %>
        <th colspan="2"></th>
      <% end %>
    </thead>

    <% ordered_products.each do |ordered_product| %>
      <tr class="<%= cycle('odd', '') %>">
        <% if ordered_product.product.is_dimensional? %>
        <td class="right"><%= "#{ordered_product.width * ordered_product.height} " %> m&sup2; <%=  " (#{ordered_product.width} "%> &times; <%=" #{ordered_product.height})" %></td>
        <% else %>
        <td class="right"><%= ordered_product.qty %></td>
        <% end %>
        <td><%= ordered_product.product.name %></td>
        <td class="right"><%= ordered_product.rent_price %></td>
        <td class="right"><%= ordered_product.sub_total %></td>
        <td><%= ordered_product.description %></td>
        <% unless links == 'off' %>
          <td><%= link_to 'Ubah', edit_admin_ordered_product_path(ordered_product), :rel => 'facebox' %></td>
          <td><%= link_to 'Hapus', [:admin, ordered_product], confirm: 'Apakah anda yakin?', :method => :delete %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>