<%= form_for([:admin, @order]) do |f| %>
  <div class="main-content">
    <div class="form">
      <%= render :partial => 'partials/error_messages', :locals => { :obj => @order } %>

      <%= f.label 'Pemesan' %>
      <%= f.text_field :customer %><br />

      <%= f.label 'Alamat' %>
      <%= f.text_field :address %><br />

      <%= f.label 'Telepon' %>
      <%= f.text_field :phone %><br />

      <%= f.label 'Tanggal Kirim' %>
      <%= f.text_field :delivery_date, :size => '5', :maxlength => '10' %>
      <button id="btn_delivery_date">...</button>
      <script type="text/javascript">
        //<![CDATA[
        Calendar.setup({
          inputField : "order_delivery_date",
          trigger : "btn_delivery_date",
          onSelect : function() { this.hide() },
          dateFormat : "%Y-%m-%d"
        });
        //]]>
      </script>
      <br />

      <%= f.label 'Tanggal Pakai' %>
      <%= f.text_field :usage_date, :size => '5', :maxlength => '10' %>
      <button id="btn_usage_date">...</button>
      <script type="text/javascript">
        //<![CDATA[
        Calendar.setup({
          inputField : "order_usage_date",
          trigger : "btn_usage_date",
          onSelect : function() { this.hide() },
          dateFormat : "%Y-%m-%d"
        });
        //]]>
      </script>
      <br />

      <%= f.label 'Jumlah Hari' %>
      <%= f.number_field :duration_in_days %><br />

      <%= f.label 'Ongkos Kirim' %>
      <%= f.number_field :delivery_cost %><br />

      <table border="0">
        <tr>
          <td valign="top">
            <%= f.label 'Status Bayar' %>
            <%= f.select :payment_status, [["", ""], ["Belum Bayar", "Belum Bayar"], ["Lunas", "Lunas"], ["Down Payment", "Down Payment"]] %>
          </td>
          <td>
            <span id="payment_amount">
              <table>
                <tr>
                  <td style="text-align: right">Rp.</td>
                  <td><%= number_field_tag :payment, '',:placeholder => 'jumlah' %></td>
                </tr>
                <tr>
                  <td style="text-align: right">Sisa</td>
                  <td><%= number_field_tag :remain, '', :readonly => true %></td>
                </tr>
                <tr>
                  <td style="text-align: right">Terbilang</td>
                  <td><%= text_area_tag :terbilang_remain, '', :readonly => true, :style => "width: 300px; height: 50px" %></td>
                </tr>
              </table>
            </span>
          </td>
        </tr>
      </table>

      <%= label_tag 'Total' %>
      <%= number_field_tag :total, '', :readonly => true %><br/>

      <%= label_tag 'Terbilang' %>
      <%= text_area_tag :terbilang, '', :readonly => true, :style => "width: 400px; height: 50px" %><br/>
      
    </div>
  </div>
  <div class="footer">
    <%= f.submit 'Simpan' %>
  </div>
<% end %>