<div class="panel">
  <div class="header">
    Detail Order
  </div>
  <div class="main-content">
    <div class="form">
      <table width="100%">
        <tr>
          <td>
            <label>No Order</label>
            <div class="show"># <%= @order.id %></div><br/>

            <label>Pemesan</label>
            <div class="show"><%= @order.customer %></div><br/>

            <label>Alamat</label>
            <div class="show"><%= @order.address %>&nbsp;</div><br/>

            <label>Telepon</label>
            <div class="show"><%= @order.phone %></div><br/>

            <label>Tanggal Kirim</label>
            <div class="show"><%= @order.delivery_date %></div><br/>

            <label>Tanggal Pakai</label>
            <div class="show"><%= @order.usage_date %></div><br/>
          </td>
          <td>
            <label>Durasi (per hari)</label>
            <div class="show"><%= @order.duration_in_days %></div><br/>

            <label>Total Harga per Hari</label>
            <div class="show"><%= money_format(@order.total_price_per_day) %></div><br/>

            <label>Total Harga</label>
            <div class="show"><b><%= money_format(@order.total_price) %></b></div><br/>

            <label>Status</label>
            <div class="show"><%= @order.payment_status %></div><br/>

            <label>User</label>
            <div class="show"><%= @order.user.username %></div><br/>
          </td>
        </tr>
        <tr>
          <td><br/></td>
        </tr>
        <tr>
          <td colspan="2"><b>Terbilang &nbsp;&nbsp;:&nbsp;&nbsp; <%= terbilang(@order.total_price) + "rupiah" unless @order.total_price == 0 %></b></td>
        </tr>
      </table>
    </div>
  </div>
</div>

