<div  class="table_list">
  <table width="100%">
    <caption>Order</caption>
    <thead>
    <th>Nomor Order</th>
    <th>Nama dan Alamat</th>
    <% @products.each do |product| %>
      <th valign="bottom"><%= product.name.split(//).join('<br>').html_safe %></th>
    <% end %>
    </thead>
    <% @orders.each do |order| %>
      <tr>
        <td style="text-align: right"><%= order.id %></td>
        <td><%= order.customer %><br/><%= order.address %></td>
        <% 
           products = Product.find_by_sql("SELECT p.id, SUM(rented_qty) as rented_qty
                                           FROM (SELECT id, name FROM products WHERE is_package = 0) p
                                                LEFT JOIN (SELECT product_id, rented_qty FROM rented_products
                                                           WHERE order_id = #{order.id}) rp ON p.id = rp.product_id
                                           GROUP BY p.id ORDER BY p.name ASC")
        %>
        <% products.each do |product| %>
          <td><%= number_format(product.rented_qty) %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>