<!DOCTYPE html>
<html>
  <head>
    <title>BlackstarRentApp</title>
    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag "jquery.facebox.css" %>
    <%= javascript_include_tag "application" %>

    <%= csrf_meta_tags %>
  </head>
  <body>
<%#= flash[:notice] %>
    <%= render :partial => 'layouts/flash', :locals => { :flash => flash } %>
    <%= yield %>
  </body>
</html>
